@using Timetable.Web.ViewModels
@model TimetableViewModel
@{
	ViewBag.Title = "Sala: " + Model.CurrentClassroom.name;
}
<h2>@ViewBag.Title</h2>
<br />

<table class="table">
	<tr>
		<th>
			&nbsp;
		</th>
		@foreach (var day in Model.Days)
		{
			<th style="text-align: center; font-weight: bold;">
				@day.name
			</th>
		}
	</tr>
@foreach (var hour in Model.Hours)
{
	<tr>
		<td style="text-align: center; font-weight: bold;">
			@hour.number
		</td>
	@foreach (var day in Model.Days)
	{
		<td style="text-align: center;">
			@{
				CellViewModel cell = @Model.LessonsPlaces.FirstOrDefault(lp => lp.DayId == day.id && lp.HourId == hour.id && lp.ClassroomId == Model.CurrentClassroom.id);
				string firstRow = (cell != null) ? cell.SubjectName : " ";
				string secondRow = (cell != null) ? "kl. " + cell.ClassFriendlyName : " ";
				string thirdRow = (cell != null) ? cell.TeacherFriendlyName : " ";
				<p>@firstRow</p>
				<p>@Html.ActionLink(secondRow ?? " ", "Class", "Timetable", new { id = cell?.ClassId }, null)</p>
				<p>@Html.ActionLink(thirdRow ?? " ", "Teacher", "Timetable", new { pesel = cell?.TeacherPesel }, null)</p>
			}
		</td>
	}
	</tr>
}
</table>
