@model Timetable.DAL.ViewModels.TimetableViewModel
@{
	ViewBag.Title = $"Klasa: {Model.CurrentClass.Year} {Model.CurrentClass.CodeName}";
}
<h2 style="text-align: center;">@ViewBag.Title</h2>
<br />

<table class="table">
	<tr>
		<th>
			<p>&nbsp;</p>
		</th>
	@foreach (var day in Model.Days)
	{
		<th style="text-align: center; font-weight: bold;">
			<p>@day.Name</p>
		</th>
	}
	</tr>
@foreach (var hour in Model.Hours)
{
	<tr>
		<td style="text-align: center; font-weight: bold;">
			<p>@hour.Number</p>
		</td>
	@foreach (var day in Model.Days)
	{
		<td style="text-align: center;">
		@{
			var lessonsPlaceViewModel = @Model.CurrentLessonsPlaces.FirstOrDefault(lp => lp.DayId == day.Id && lp.HourId == hour.Id && lp.ClassId == Model.CurrentClass.Id);
			var firstRow = (lessonsPlaceViewModel != null) ? lessonsPlaceViewModel.SubjectName : " ";
			var secondRow = (lessonsPlaceViewModel != null) ? lessonsPlaceViewModel.TeacherFriendlyName : " ";
			var thirdRow = (lessonsPlaceViewModel != null) ? "s. " + lessonsPlaceViewModel.ClassroomName : " ";
			<p>@firstRow</p>
			<p>@Html.ActionLink(secondRow, "Teacher", "Timetable", new { pesel = lessonsPlaceViewModel?.TeacherPesel }, null)</p>
			<p>@Html.ActionLink(thirdRow, "Classroom", "Timetable", new { id = lessonsPlaceViewModel?.ClassroomId }, null)</p>
		}
		</td>
	}
	</tr>
}
</table>
